@model YonazoneWorkForce.ViewModels.AllComputersViewModel
@{
    ViewData["Title"] = "All Computer";
}
<h2>@ViewData["Title"].</h2>

<p>These are Lists of computers avilable.</p>
<hr />
    <div class="row">
        <div class="col-md-3" style="font: 1.3em bold italic;">@Html.LabelFor(model => model.Computer.Model)</div>
        <div class="col-md-3" style="font: 1.3em bold italic;">@Html.LabelFor(model => model.Computer.PurchasePrice)</div>
    </div><hr />
@foreach (var comp in Model.Computers)
{
    <div class="row">
        <div class="col-md-3">@Html.DisplayFor(modelItem => comp.Model)</div>
        <div class="col-md-3">$@Html.DisplayFor(modelItem => comp.PurchasePrice)</div>
    </div>
}
<div>
     <a asp-action="Create">Create New Computer</a>
</div>