@model YonazoneWorkForce.ViewModel.AllTrainingProgrameViewModel


<h2>@ViewData["Title"]</h2>
<br>

 <h2>These are Training Programe Lists</h2>
<div class="col-md-10">
    <div class=" row glyphicon-arrow-right">
        @foreach(var tp in Model.TrainingPrograms)
        {
            <div class="col-md-2">@Html.DisplayFor(modelItem => tp.Name)</div>
            <div class="col-md-3">@Html.DisplayFor(modelItem => tp.Description)</div>
            <div class="col-md-1">@Html.DisplayFor(modelItem => tp.MaxCapacity)</div>
        }
    </div>
</div>