@model YonazoneWorkForce.ViewModel.AllTrainingProgrameViewModel


<h2>@ViewData["Title"]</h2>
<br>

 <h2>These are Training Programe Lists</h2><hr />
<div class="row">
    <div class="col-md-3" style="font: 1.3em bold italic;">Name of The Program</div>
    <div class="col-md-4" style="font: 1.3em bold italic;">Description of The Program</div>
    <div class="col-md-3" style="font: 1.3em bold italic">MaxCapacity of The Program</div>
</div><hr />

    <div class="row">
        @foreach(var tp in Model.TrainingPrograms)
        {
            <div class="col-md-3">@Html.DisplayFor(modelItem => tp.Name)</div>
            <div class="col-md-4">@Html.DisplayFor(modelItem => tp.Description)</div>
            <div class="col-md-3">@Html.DisplayFor(modelItem => tp.MaxCapacity)</div>
        }
    </div>
