@{
    ViewData["Title"] = "Trainig Program";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<div class="col-md-3">
    <h2>Application uses</h2>
    <ul>
        <li>Sample pages using ASP.NET Core MVC</li>
        <li><a href="http://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
        <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
    </ul>
</div>